/** Styles included in bulkcertification course format */

.format-bulkcertification #page-content div.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    background-color: var(--light);
}
